{
    frankenphp
}

:{$PORT} {
    root * public
    encode zstd gzip
    
    # Enable logging to see the requests in Railway logs 📝
    log {
        output stdout
    }

    # Block access to source maps and other sensitive files
    @blocked {
        path *.map
        path .env*
        path *.sql
        path *.log
    }
    respond @blocked 404

    php_server
}
