{
    frankenphp
}

:{$PORT} {
    root * public
    encode zstd gzip
    
    # Enable logging to see the requests in Railway logs 📝
    log {
        output stdout
    }

    # Proxy Reverb WebSockets 🚀
    @websockets {
        path /app/* /apps/*
    }
    handle @websockets {
        reverse_proxy 127.0.0.1:8081
    }

    php_server
}
